@{
  Layout = "_Layout";
}
@using TreatShop.Models;

<div class="text-center">
  @if (User.Identity.IsAuthenticated)
  {

    <h1>Hello @User.Identity.Name! Welcome to Pierre's Sweet and Savory Treats.</h1>
  }
  else
  {
    <h1>Welcome to Pierre's Sweet and Savory Treats</h1>
  }
  <hr>
  <h1>List of Available Treats:</h1>

  @if (Model == null || Model.Count == 0)
  {
    <h3>No treats have been added yet.</h3>
  }
  else
  {
    <h3> * Click on the treat to see what flavors it comes in *</h3>
    
      @foreach (Treat treat in Model)
      {
      <p>@Html.ActionLink($"{treat.Description}", "Details", "Treats", new { id = treat.TreatId }, null)</p>
      }
    
  }
  @if (User.Identity.IsAuthenticated)
  {
    <p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>
  }
  <hr>
  <h1>List of Available Flavors:</h1>

  @if (ViewBag.Flavors == null || ViewBag.Flavors.Count == 0)
  {
    <h3>No flavors have been added yet.</h3>
  }
  else
  {
    <h3> * Click on the flavor to see what treats are available in that flavor *</h3>

    <ul>
      @foreach (Flavor flavor in ViewBag.Flavors)
      {
        <li>@Html.ActionLink($"{flavor.Profile}", "Details", "Flavors", new { id = flavor.FlavorId }, null)</li>
      }
    </ul>
  }
  @if (User.Identity.IsAuthenticated)
  {
    <p>@Html.ActionLink("Add a new flavor", "Create", "Flavors")</p>
  }
  <hr>
  @if (User.Identity.IsAuthenticated)
  {
    @using (Html.BeginForm("LogOff", "Accounts"))
    {
      <input type="submit" value="Log out @User.Identity.Name" />
    }
  }
  <p>@Html.ActionLink("Create or log in to an account", "Index", "Accounts")</p>


